.header-container {
    margin-top: 20  px;
    margin-left: 20px;
    margin-right: 20px;
}

.navegacion {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
    width: 70%;
    text-align: center;
    color: #025157;
}

.actions{
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .actions a {
    color: #67b54b;
  }
  
  .actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
  }